<configuration debug="true">
<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
</appender>

<appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>logfile.log</file>
    <append>true</append>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
</appender>
<appender name="DEBUG-FILE" class="ch.qos.logback.core.FileAppender">
    <file>debug.log</file>
    <append>true</append>
    <encoder>
        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>
    </encoder>
</appender>
<!-- additivity=false ensures analytics data only goes to the analytics log -->
<logger name="debug" level="DEBUG" additivity="false">
    <appender-ref ref="DEBUG-FILE"/>
</logger>
<root>
    <appender-ref ref="FILE"/>
</root>
</configuration>
